.idea/*
test/.DS_Store
.DS_Store
test/Program
*.swp
xcode/xcode.xcodeproj/project.xcworkspace/xcuserdata/aporka.xcuserdatad/UserInterfaceState.xcuserstate
xcode/xcode.xcodeproj/project.xcworkspace/contents.xcworkspacedata
